
/* Original from http://edu.makery.ch/blog/2012/11/26/javafx-tutorial-addressapp-4/
A lot of stuff here is just messing about. It may not actually do anything, but it's probably important.
The previous values are still in this file in case some changes are needed.
Tonis Kasekamp
*/
.background {
    -fx-background-color: #1d1d1d;
}
.content {
    -fx-background-color: #A2AB58; /* light green */
}
.tab:top {
    -fx-background-color: #1d1d1d;
    -fx-padding: 5 22 5 22;
    -fx-background-insets: 0 0 0 0, 0, 5, 3;
}

.tab-pane .tab-label {
    -fx-font-size: 14pt;
    /*-fx-font-family: "Segoe UI Light"; */
	-fx-font-family: "Segoe UI", Tahoma, Helvetica, sans-serif; 
    -fx-text-fill: white;
		-fx-text-align: center;

    -fx-opacity: 0.9;
}
.tab:selected {
    -fx-background-color: #67BCDB; /* cyan */
}
.tab:hover {
    -fx-background-color: #E44424; /* red */ 
}
.tab-header-background {
/*tab-pane */
    -fx-background-color: derive(#1d1d1d,20%);
    -fx-selection-bar: derive(-fx-background,-7%);
	-fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10  no idea what this padding does */
}




.separator :horizontal .line {
    -fx-background-color: derive(#1d1d1d,60%); 
    -fx-padding: 0.083333em 0.0em 0.0em 0.0em; /* 1 0 0 0 */
	    -fx-border-color:  transparent derive(-fx-background,-20%) transparent transparent;
}
.separator:vertical .line {
    -fx-background-color: null;
    -fx-padding: 0.0em 0.083333em 0.0em 0.0em; /* 0 1 0 0 */
    -fx-border-color:  transparent derive(-fx-background,-20%) transparent transparent;
}

/* checkbox */
.check-box .box {
	-fx-background-color: #1d1d1d, white, #1d1d1d, #1d1d1d;
}

.check-box:selected .mark {
	-fx-background-color: white;
}
.check-box:hover .box {
    -fx-background-color: #67BCDB;
}

.list-view {
  -fx-base: #1d1d1d;
  -fx-control-inner-background: #1d1d1d;
  -fx-background-color: #1d1d1d;
  -fx-table-cell-border-color: transparent;
  -fx-table-header-border-color: transparent;
  -fx-padding: 5;
}

.label {
    -fx-font-size: 11pt; /* previously 11pt */
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1; 
}
.label-dark {
    -fx-font-size: 11pt; /* previously 11pt */
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.6; 
}

.label-header {
    -fx-font-size: 30pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.table-view {
  -fx-base: #1d1d1d;
  -fx-control-inner-background: #1d1d1d;
  -fx-background-color: #1d1d1d;
  -fx-table-cell-border-color: transparent;
  -fx-table-header-border-color: transparent;
  -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}




.split-pane:horizontal > * > .split-pane-divider {
  -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
  -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

/* Menu bar not used */
.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
    -fx-selection-bar: derive(-fx-background,-7%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}



/* 
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 7 22 7 22; /*5 22 5 22; */
   /* -fx-border-color: #E44424; #e2e2e2;  */
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: /*#E44424;*/ #1d1d1d; 
    /*-fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif; */
	-fx-font-family: "Segoe UI", Tahoma, Helvetica, sans-serif; 
	/*-fx-font-family: "Segoe UI Light"; */
    -fx-font-size: 13pt; /* original 11pt */
    /*-fx-text-fill: #d8d8d8; */
	-fx-text-fill: white;
	-fx-text-align: center;
	-fx-font-weight: bold;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    /*-fx-background-color: #3a3a3a; original color, doesn't fit my theme */
	-fx-background-color: #67BCDB; /* cyan */
}

.button:pressed, .button:default:hover:pressed {
  /* -fx-background-color: white; doesn't fit my theme */
  -fx-background-color: #E44424; /* red */
  -fx-text-fill: #1d1d1d;
}

.button:focused {
	-fx-border-color: #E44424, #E44424;
	/*-fx-border-color: white, white;*/
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}